# Supabase
SUPABASE_URL="https://pyzgnivilxhnwzfrdkiq.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB5emduaXZpbHhobnd6ZnJka2lxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzEzODM3MSwiZXhwIjoyMDkyNzE0MzcxfQ.ziTZ7dNZbmsfuBzw6JtPXkQA4a-7cFMispCO-x-XKQ0"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB5emduaXZpbHhobnd6ZnJka2lxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzEzODM3MSwiZXhwIjoyMDkyNzE0MzcxfQ.ziTZ7dNZbmsfuBzw6JtPXkQA4a-7cFMispCO-x-XKQ0"

# External API (if applicable)
API_BASE_URL="https://query.ampre.ca/odata"
API_KEY="eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ2ZW5kb3IvdHJyZWIvNjk1OCIsImF1ZCI6IkFtcFVzZXJzUHJkIiwicm9sZXMiOlsiQW1wVmVuZG9yIl0sImlzcyI6InByb2QuYW1wcmUuY2EiLCJleHAiOjI1MzQwMjMwMDc5OSwiaWF0IjoxNzMzNTQyNDI2LCJzdWJqZWN0VHlwZSI6InZlbmRvciIsInN1YmplY3RLZXkiOiI2OTU4IiwianRpIjoiYjg0ZGYwOTUyNDk4NmFkMiIsImN1c3RvbWVyTmFtZSI6InRycmViIn0.q9UI-ib_A3Qu_B8dSO8iQwvz2tRB_qu-ZOrS3tUO3ig"


# Application
NODE_ENV=development

